In [20]:
import pandas as pd
import networkx as nx
import pycountry_convert as pcc

In [2]:
total = pd.read_table("./DIB_dataset.tsv")
total.head()

,locality_code,locality_name,date,new_cases,new_deaths,acc_cases,acc_deaths,index_of_industrial_production:_total_industry_mining;_manufacturing;_electricity_gas_and_water_(index_base:_2005=100)_2014,index_of_industrial_production:_mining_(index_base:_2005=100)_2014,index_of_industrial_production:_manufacturing_(index_base:_2005=100)_2014,...,retail_recreation,grocery_pharmacy,parks,transit_stations,workplaces,residential,first_case_date,n_days_since_1st_case,first_death_date,n_days_since_1st_death
0,AE,United Arab Emirates,2020-02-15,0,0,0,0,NaN,NaN,NaN,...,0.0,4.0,5.0,0.0,2.0,1.0,2020-01-29,18,2020-03-22,0
1,AF,Afghanistan,2020-02-15,0,0,0,0,NaN,NaN,NaN,...,-9.0,-10.0,0.0,-2.0,-28.0,5.0,2020-02-25,0,2020-03-24,0
2,AG,Antigua and Barbuda,2020-02-15,0,0,0,0,NaN,NaN,NaN,...,-6.0,-1.0,-6.0,-1.0,0.0,3.0,2020-03-15,0,2020-04-10,0
3,AO,Angola,2020-02-15,0,0,0,0,NaN,NaN,NaN,...,3.0,-2.0,7.0,3.0,2.0,1.0,2020-03-22,0,2020-03-30,0
4,AR,Argentina,2020-02-15,0,0,0,0,NaN,NaN,169.4,...,1.0,-3.0,-3.0,4.0,-1.0,0.0,2020-03-04,0,2020-03-08,0

'locality_code',
'locality_name',
'date',
'major_trading_partner_1_(%_of_exports)_2018',
'major_trading_partner_1_(%_of_imports)_2018',
'major_trading_partner_2_(%_of_exports)_2018',
'major_trading_partner_2_(%_of_imports)_2018',
'major_trading_partner_3_(%_of_exports)_2018',
'major_trading_partner_3_(%_of_imports)_2018'

In [4]:
of_interest = ['locality_code',
                'locality_name',
                'major_trading_partner_1_(%_of_exports)_2018',
               'major_trading_partner_1_(%_of_imports)_2018',
                'whos_major_trade_partner_exp_1']

exp_info = total[total['date'] == '2020-02-15'][of_interest]

In [5]:
exp_info['whos_major_trade_partner_exp_1'].value_counts()

United States            31
Germany                  20
China                    16
Areas nes                 7
India                     6
Italy                     6
United Kingdom            3
South Africa              3
France                    3
Spain                     3
Pakistan                  2
Switzerland               2
Japan                     2
Brazil                    2
Russian Federation        2
Finland                   1
Mali                      1
Azerbaijan                1
Burkina Faso              1
Undisclosed               1
Kenya                     1
Lithuania                 1
Romania                   1
Kazakhstan                1
Singapore                 1
Dem.Rep. of the Congo     1
United Arab Emirates      1
Canada                    1
Belgium                   1
Saudi Arabia              1
Congo                     1
Viet Nam                  1
Name: whos_major_trade_partner_exp_1, dtype: int64

In [6]:
exp_info[~exp_info['whos_major_trade_partner_exp_1'].isin(['Undisclosed', 'Areas nes'])]

,locality_code,locality_name,major_trading_partner_1_(%_of_exports)_2018,major_trading_partner_1_(%_of_imports)_2018,whos_major_trade_partner_exp_1
1,AF,Afghanistan,47.5001,19.3620,Pakistan
2,AG,Antigua and Barbuda,22.2700,43.2253,Spain
3,AO,Angola,58.0593,20.7375,China
4,AR,Argentina,15.9416,26.7122,Brazil
5,AT,Austria,29.7094,36.5383,Germany
...,...,...,...,...,...
127,VN,Vietnam,19.3148,27.4523,United States
128,YE,Yemen,39.7707,22.2449,China
129,ZA,South Africa,9.8180,18.3353,China
130,ZM,Zambia,42.0801,28.8191,Switzerland
131,ZW,Zimbabwe,51.4752,39.2800,South Africa

In [18]:
pcc.country_alpha2_to_continent_code('US')

'NA'